# Windows
Thumbs.db
Desktop.ini

# Node
node_modules/
dist/
.env*

# Next.js
/.next/
/out/
/build

# Python
__pycache__/
*.pyc
.venv/

# Editors
.vscode/
.idea/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# local DB volumes
/postgres-data/
